---
version: 2
interactions:
    - id: 0
      request:
        host: voyager.lemmy.ml
        body: ""
        form: {}
        headers:
        url: https://voyager.lemmy.ml/api/v3/comment/list?sort=New
        method: GET
      response:
        body: '{"comments":[{"comment":{"id":181634,"creator_id":2086,"post_id":39509,"content":"test","removed":false,"published":"2023-12-15T13:54:57.567081Z","deleted":false,"ap_id":"https://voyager.lemmy.ml/comment/181634","local":true,"path":"0.181634","distinguished":false,"language_id":0},"creator":{"id":2086,"name":"dess_tester_3","banned":false,"published":"2023-11-14T18:37:29.077165Z","actor_id":"https://voyager.lemmy.ml/u/dess_tester_3","local":true,"deleted":false,"bot_account":false,"instance_id":1},"post":{"id":39509,"name":"XD why is invalid","body":"Post","creator_id":83995,"community_id":2738,"removed":false,"locked":false,"published":"2023-12-10T18:26:52.100597Z","deleted":false,"nsfw":false,"ap_id":"https://voyager.lemmy.ml/post/39509","local":true,"language_id":0,"featured_community":false,"featured_local":false},"community":{"id":2738,"name":"test","title":"test","removed":false,"published":"2023-11-28T13:35:38.842081Z","deleted":false,"nsfw":false,"actor_id":"https://voyager.lemmy.ml/c/test","local":true,"hidden":false,"posting_restricted_to_mods":false,"instance_id":1},"counts":{"comment_id":181634,"score":1,"upvotes":1,"downvotes":0,"published":"2023-12-15T13:54:57.567081Z","child_count":0},"creator_banned_from_community":false,"creator_is_moderator":false,"creator_is_admin":true,"subscribed":"NotSubscribed","saved":false,"creator_blocked":false},{"comment":{"id":171604,"creator_id":1537,"post_id":30391,"content":"@saltlake@voyager.lemmy.ml","removed":false,"published":"2023-12-13T20:26:57.346317Z","deleted":false,"ap_id":"https://voyager.lemmy.ml/comment/171604","local":true,"path":"0.104129.104134.171604","distinguished":false,"language_id":37},"creator":{"id":1537,"name":"pepperlake","banned":false,"published":"2023-11-14T17:13:19.682314Z","actor_id":"https://voyager.lemmy.ml/u/pepperlake","local":true,"deleted":false,"bot_account":false,"instance_id":1},"post":{"id":30391,"name":"Unpopular opinion: this community is the worst","body":"Fight me","creator_id":1537,"community_id":121,"removed":false,"locked":false,"published":"2023-12-01T20:08:03.355973Z","deleted":false,"nsfw":false,"ap_id":"https://voyager.lemmy.ml/post/30391","local":true,"language_id":37,"featured_community":false,"featured_local":false},"community":{"id":121,"name":"the_best_community","title":"The Best Community","description":"Out of all the communities on the Fediverse, this one is the best. Let''s keep it that way.","removed":false,"published":"2023-11-14T18:52:23.746619Z","deleted":false,"nsfw":false,"actor_id":"https://voyager.lemmy.ml/c/the_best_community","local":true,"hidden":false,"posting_restricted_to_mods":false,"instance_id":1},"counts":{"comment_id":171604,"score":1,"upvotes":1,"downvotes":0,"published":"2023-12-13T20:26:57.346317Z","child_count":0},"creator_banned_from_community":false,"creator_is_moder[...]
