---
version: 2
interactions:
    - id: 0
      request:
        host: voyager.lemmy.ml
        body: ""
        form: {}
        headers:
        url: https://voyager.lemmy.ml/api/v3/post/list?sort=New
        method: GET
      response:
        body: '{"posts":[{"post":{"id":39509,"name":"XD why is invalid","body":"Post","creator_id":83995,"community_id":2738,"removed":false,"locked":false,"published":"2023-12-10T18:26:52.100597Z","deleted":false,"nsfw":false,"ap_id":"https://voyager.lemmy.ml/post/39509","local":true,"language_id":0,"featured_community":false,"featured_local":false},"creator":{"id":83995,"name":"BoostTest","banned":false,"published":"2023-11-28T15:39:41.749444Z","actor_id":"https://voyager.lemmy.ml/u/BoostTest","local":true,"deleted":false,"bot_account":false,"instance_id":1},"community":{"id":2738,"name":"test","title":"test","removed":false,"published":"2023-11-28T13:35:38.842081Z","deleted":false,"nsfw":false,"actor_id":"https://voyager.lemmy.ml/c/test","local":true,"hidden":false,"posting_restricted_to_mods":false,"instance_id":1},"creator_banned_from_community":false,"creator_is_moderator":false,"creator_is_admin":false,"counts":{"post_id":39509,"comments":3,"score":2,"upvotes":2,"downvotes":0,"published":"2023-12-10T18:26:52.100597Z"},"subscribed":"NotSubscribed","saved":false,"read":true,"creator_blocked":false,"unread_comments":0},{"post":{"id":39204,"name":"This is a test post being edited now","url":"https://www.google.com/","body":"Hi friend we are editing this post is now nsfw","creator_id":83995,"community_id":2738,"removed":false,"locked":false,"published":"2023-12-10T10:37:46.649591Z","updated":"2023-12-10T18:07:08.661278Z","deleted":false,"nsfw":false,"embed_title":"Google","embed_description":"Frohes Fest! #GoogleDoodle","ap_id":"https://voyager.lemmy.ml/post/39204","local":true,"language_id":0,"featured_community":false,"featured_local":false},"creator":{"id":83995,"name":"BoostTest","banned":false,"published":"2023-11-28T15:39:41.749444Z","actor_id":"https://voyager.lemmy.ml/u/BoostTest","local":true,"deleted":false,"bot_account":false,"instance_id":1},"community":{"id":2738,"name":"test","title":"test","removed":false,"published":"2023-11-28T13:35:38.842081Z","deleted":false,"nsfw[...]
